<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>餐馆自动化</title>
</head>


<body>
<h>欢迎使用</h>
<!-- Container -->
<table border="0" style="font-size:xx-large;width: 80%; align-content: center" align="center" bgcolor="#008b8b">
              <tr>
                <th style="width: 28%; align-content: center" ><a href="/menu/">菜单</a></th>
                <th style="width: 24%; align-content: center"><a href="/order/">订单</a></th>
                <th style="width: 28%; align-content: center"><a href="/table/">餐桌</a></th>
              </tr>
             </table>
</body>
</html>
